@import 'mixins.scss';

#video {
    background: url('/src/img/dots-grey.png') no-repeat left 20px top 50px / 22%,
                url('/src/img/dots-grey.png') no-repeat right 20px bottom 50px / 22%;
    .wrapper {
        
        display: flex;            
        justify-content: center;
        align-items: center;
        .main-video {
            width: 85vh;
            border-radius: $brd-radius;
        }
        
    }
}

@media screen and (min-width: 480px) and (max-width: 767px){
    #video {
        .wrapper {
            .main-video {
            width: 90%;
            }
        }
    }
}

@media screen and (max-width: 479px){
    #video {
        .wrapper {
            .main-video {
            width: 100%;
            }
        }
    }
}